/* all pages */
footer {
    background-color: #252A15;
    color:#FEFAE0;
}

.div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    padding: 25px;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #252A15;
    color: #FEFAE0;
}

/* home page */
#home-article-1 {
    background-color: #DDA15E;
}

#home-article-2 {
    background-color: #606C38;
    color: #FEFAE0;
}

#video-div-1 {
    height: 80vh;
    margin-bottom: 10vw;
}

#home-vertical-line {
    width: 1px;
    height: 90px;
    max-height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background-color: #fefae0;
}


#home-overlap {
    display: flex;
    align-items: center;
    width: 75vw;
    height: 15vh;
    top: 78%;
    left: 0;
    right: 0;
    margin-left: auto;
    position: absolute;
    background-color: #252a15;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    z-index: 2;
}

.overlap-link {
    flex: 1;
    text-align: center;
    color: #fefae0;
    text-decoration: none;
    padding: 10px;
}



.video-container {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.categories-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
}

.categories-container>div:before {
    content: attr(data-overlay-text);
    position: absolute;
    bottom: 10%;
    left: 10%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: #fff;
}

.categories-container>div {
    position: relative;
    overflow: hidden;
}

.categories-container>div>img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.categories-container>div>img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.banner {
    color: white;
    background: url(../images/Flume-StoryImg_2.jpg);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* park search page */
#search-clear {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3vw;
}

#clear {
    background-color: #FEFAE0;
    color: #252A15;
}

#results-title {
    background-color: #606C38;
    color: white;
    text-align: center;
    padding: 2vw;
}

.maincontainer {
    position: relative;
    width: 80vw;
    height: 320px;
    overflow: hidden;
    margin: 50px auto;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-position: center;
}

.theback {    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #606c38;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
}

.back-img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* mountain info page */
.results-container {
    position: relative; 
    text-align: center;
}

.results-img {
    display: block;
    height: 100%;
    width: 100%;
}

.name-overlay {
    background-color: #BC6C25;
    color: white;
    padding: 10px;
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.info-overlay {
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
}

#mountainName {
    background-color: #BC6C25;
    color: white;
    text-align: center;
}

#mountainsCollage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    margin-top: 5vw;
    margin-bottom: 5vw;
    
}

/* display overlay */
.display {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: relative;

}

.destination-img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.display:hover  .overlay {
    height: 100%;
}

.imgBtn {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: white; 
}




